:host {
    display: block;
    width: 100vw;
    height: 100vh;
}

.layout-container {
    min-height: 100vh;
    padding-top: 4.60rem; /** linkedin **/
}

toolbar,
.main,
footer-ng {
    flex-shrink: 0;
}

.mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .main {
        flex-grow: 1;
        flex-shrink: 0;
        padding: 2.25rem 2.25rem .75rem;
        background-color: #f7f7f7;
    }
}

.sidenav {
    position: fixed;
    width: 240px;
    top: 4.60rem;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);

    .mat-list-base {
        padding: 20px 0;
    }

    ::ng-deep .mat-drawer-inner-container {
        overflow-x: hidden;
    }
}