<div class="container-page">
  <h1 class="align-center" style="margin-bottom: 50px;">Welcome ! 🤯</h1>
  <div class="access-btns" fxLayout="row" fxLayout.lt-md="column">
    <button id="btnGenerateDynamicForm" routerLink="/demos/generic-form" mat-raised-button>Génération d'un formulaire
      dynamique</button>
    <button id="btnGenerateStaticForm" routerLink="/demos/static-form" mat-raised-button>Génération d'un formulaire
      statique</button>
    <button id="btnGenerateStaticForm" routerLink="/demos/static-inputs-chained" mat-raised-button>Formulaire statique -
      Champs chaînés</button>
    <button id="btnGenerateStaticForm" routerLink="/demos/modal-page" mat-raised-button>Modals</button>
  </div>
</div>
<app-fab-button icon="sports_bar" setFontOutline="true" (callback)="eventClickFab()"></app-fab-button>