<div class="container-page">
  <div class="formulaires">
    <div class="content-frm part">
      <div class="group-2">
        <div>
          <img *ngFor="let img of imageObject; let i = index" [src]="img.thumbImage || img.posterImage"
            (click)="showLightbox(i)" />
        </div>
      </div>

      <image-fullscreen-view [images]="imageObject" [infinite]="true" [imageIndex]="currentIndex" [show]="showFlag"
        (close)="closeEventHandler()"></image-fullscreen-view>
    </div>
  </div>
</div>