<div class="container-page">
  <div class="titre-page">Démo du composant upload</div>
  <div class="formulaires">
    <div class="content-frm part">
      <form id="generatedForm" [formGroup]="formulaire" (ngSubmit)="validateFrom(formulaire)">
        <ng-template #FormContainerRefInputs></ng-template>
        <ng-container *ngIf="_config">
          <cocoring-uploader [config]="_config"></cocoring-uploader>
        </ng-container>
        <div style="text-align: center;">
          <ng-template #FormContainerRef1></ng-template>
        </div>
      </form>
    </div>
  </div>
</div>