<ng-container [formGroup]="formGroup">
    <mat-checkbox
            class="optionSelectAll"
            [formControlName]="nameControl" 
            [indeterminate]="someComplete"
            color="primary"
            (click)="$event.stopPropagation()">
        {{nameLabel}}
    </mat-checkbox>

    <ng-container [formGroupName]="nestedNameForm">
        <mat-checkbox *ngFor="let item of (dataSource$ | async)" 
                [formControlName]="item.id"
                color="primary">
                {{item[dataSourceNameProperty]}}
        </mat-checkbox>
    </ng-container>

    <mat-error error-handler [form]="formGroup" [controlName]="nameControl"></mat-error>
</ng-container>