<ng-container *ngIf="datagridService.config">
  <!-- <cocoring-datagrid-toolbar></cocoring-datagrid-toolbar> -->
  <div class="datagrid-container">
    <table [formGroup]="datagridService.checkboxesDatagridForm">
      <thead>
        <tr>
          <!-- <ng-container *ngIf="datagridService.config.withBatchProcessing"> -->
          <ng-container>
            <th class="column-select" scope="col"></th>
          </ng-container>
          <ng-container *ngFor="let column of datagridService.config.columns; let i = index; trackBy: trackBy">
            <cocoring-datagrid-head [column]="column" [datagridService]="datagridService"></cocoring-datagrid-head>
          </ng-container>
        </tr>
      </thead>
      <tbody *ngIf="datagridDataSource as data; else loadingTpl">
        <ng-container *ngFor="let rowDatas of data.getResults(); let i = index; trackBy: trackBy">
          <cocoring-datagrid-row class="table-line" [datagridService]="datagridService"
            [columns]="datagridService.config.columns" [datas]="rowDatas"></cocoring-datagrid-row>
        </ng-container>
      </tbody>
      <ng-template #loadingTpl>
        <tr *ngFor="let i of [].constructor(totalRowsSaved)">
          <ng-container *ngFor="let column of datagridService.config.columns; let j = index; trackBy: trackBy">
            <td *ngIf="j === 0" class="column-select table-cell-loader">
              <div class="row-loader loading-animation"></div>
            </td>
            <td class="table-cell-loader">
              <div class="row-loader loading-animation"></div>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </table>
    <!-- {{datagridService.checkboxesDatagridForm.get('rowsCheckbox').value | json}} -->
  </div>
</ng-container>