.table-full-width {
  width: 100%;
}

.datagrid-container {
  overflow-x: auto;
}

table {
  position: relative;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  width: 100%;
}

table caption {
  font-size: 1em;
  margin: 0.5em 0 0.75em 0.75em;
  text-align: left;
  font-weight: 500;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table tbody {
  tr {
    &:hover {
      background-color: rgba(44, 44, 44, 0.04);
    }
  }
}

table th,
table td {
  font-size: 1em;
  padding: 0.625em;
  text-align: left;
  min-width: 100px;
  max-width: 100px;
  vertical-align: middle;

  &.column-select {
    text-align: center;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
  }
}

table th {
  max-width: none;
  cursor: pointer;
  font-size: 0.85em;
  letter-spacing: 0.1em;

  &.column-select {
    font-size: 1em;
  }

  .column-table-header {
    display: flex;
    align-items: center;

    .column-caption {
      margin: 0 3px;
    }

    .mat-icon {
      font-size: 15px;
      height: 15px;
      width: 15px;
      padding-top: 3px;
    }
  }
}

table td > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** loader styles  */

.table-cell-loader {
  padding: 0.625em;
}

.row-loader {
  padding: 10px;
}

/** / loader styles  */

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table th,
  table td {
    border-left: 0;
    border-right: 0;

    width: auto;
    min-width: unset;
    max-width: unset;
    white-space: unset;

    &.column-select {
      width: auto;
      max-width: unset;
      min-width: unset;
      text-align: right;
    }
  }

  table td {
    // border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
  }

  table cocoring-datagrid-cell:last-child td {
    border-bottom: 0;
  }
}
