<ng-container [formGroup]="formGroup">
    <mat-form-field [appearance]="appearance" [ngClass]="{'mat-form-compact': styleCompact}">
        <mat-label>{{nameLabel}}</mat-label>
        <!-- <input matInput [textMask]="dateMask" [matDatepicker]="picker" [formControlName]="nameControl"> -->
        <!-- <input matInput [matDatepicker]="picker" [formControlName]="nameControl"> -->
        <input [attr.data-cy]="nameControl" matInput type="text" mask="d0/M0/0000" [leadZeroDateTime]="true" [formControlName]="maskInputControlName" (blur)="onBlur()" (keyup)="onKeyup()"/>
        <input [matDatepicker]="picker" [formControlName]="nameControl">
        <div matSuffix style="display:flex">
            <mat-datepicker-toggle tabindex="-1" matSuffix [for]="picker"></mat-datepicker-toggle>
            <input-icon icon="close" *ngIf="formGroup.get(maskInputControlName).value" (click)="clearDateMaskValue($event)"></input-icon>
        </div>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error error-handler [form]="formGroup" [controlName]="maskInputControlName"></mat-error>
    </mat-form-field>
</ng-container>