/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@function addAlpha($color, $alpha: 0.8) {
    @return rgba($color, $alpha);
}

@mixin bordure-grise() {
    border-bottom: 1px solid $border-grise;
}

@mixin bg-translucent-dark($opacity) {
    background: rgba(0, 0, 0, $opacity);
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin chevron() {
    border-style: solid;
    border-width: 0.07em 0.07em 0 0;
    content: '';
    display: inline-block;
    height: 0.65em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.65em;
    -webkit-transition: 0.500s ease-in-out;
    -moz-transition: 0.500s ease-in-out;
    -o-transition: 0.500s ease-in-out;
    transition: 0.500s ease-in-out;
}

@mixin chevron-bas() {
    @include chevron();
    transform: rotate(135deg);
}

@mixin chevron-haut() {
    @include chevron();
}

@mixin chevron-gauche() {
    @include chevron();
    transform: rotate(-135deg);
}

@mixin chevron-droite() {
    @include chevron();
    transform: rotate(45deg);
}

@mixin placeholderStyle($color, $opacity) {
    &::-webkit-input-placeholder {
        color: $color;
        opacity: $opacity;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color;
        opacity: $opacity;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
        opacity: $opacity;
    }

    &:-ms-input-placeholder {
        color: $color;
        opacity: $opacity;
    }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@mixin espacement($prop, $side, $maxSize) {
    $p: str-slice($prop, 1, 1);
    $s: str-slice($side, 1, 1);

    @for $i from 0 through $maxSize / 5 {
        .#{$p}#{$s}-#{$i*5} {
            #{$prop}-#{$side}: 0px + $i*5;
        }
    }
}

@include espacement(margin, right, 100); // "margin-right: 5px; : ->  .mr-5"
@include espacement(margin, left, 100); // "margin-left: 5px; : ->  .ml-5"
@include espacement(margin, top, 100); // "margin-top: 5px; : ->  .mt-5"
@include espacement(margin, bottom, 100); // "margin-bottom: 5px; : ->  .mb-5"
@include espacement(padding, left, 100); // "padding-left: 20px; : ->  .pl-40"
@include espacement(padding, right, 100); // "padding-right: 20px; : ->  .pr-40"
@include espacement(padding, top, 100); // "padding-top: 20px; : ->  .pt-40"
@include espacement(padding, bottom, 100); // "padding-bottom: 20px; : ->  .pb-40"

@mixin coller-bloc($top) {
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: $top;
}

@mixin largeurEnPourcentage($prop, $maxSize) {
    $p: str-slice($prop, 1, 1);

    @for $i from 0 through $maxSize / 5 {
        .#{$p}-#{$i*5} {
            #{$prop}: $i*5%;
        }
    }
}

@include largeurEnPourcentage(width, 100); // "width: 50%; : ->  .w-50"
