<section-tpl [backgroundColor]="section.backgroundColor" (openBottomSheet)="openBottomSheet()">
    <div class="row-zones" fxFlex="100%" [fxLayout]="orientation">
        <div fxFlex="50%" fxFlex.lt-md="100%" class="zone-editor zone-left" [ngClass.lt-md]="'zone-left-mobile'" [ngClass]="{'zone-left-mobile': orientation === 'column'}">
            <div class="container-wysiwyg">
                <ng-template *ngIf="!readOnly" #ContainerEditor1Ref></ng-template>
                <div *ngIf="readOnly" [innerHtml]="value['editor1'] | variableHtml"></div>
            </div>
        </div>
        <div fxFlex="50%" fxFlex.lt-md="100%" class="zone-editor">
            <div *ngIf="!readOnly" class="container-image-full">
                <ng-template #ContainerImageUpload></ng-template>
            </div>
            <div *ngIf="readOnly" class="container-image-full">
                <div class="background-image-full"
                    [ngStyle]="{'background-image': 'url(' + (section.values['backgroundImage1'] ?  section.values['backgroundImage1'] : '') + ')'}">
                </div>
            </div>
        </div>
    </div>
</section-tpl>