<div class="container-page">
  <div class="titre-page">Démo du composant datagrid</div>
  <div class="formulaires" *ngIf="_config">
    <!-- <div class="datagrid" cocoring-datagrid-group>
      <cocoring-datagrid-toolbar></cocoring-datagrid-toolbar>
      <cocoring-datagrid [config]="_config"></cocoring-datagrid>
    </div>
    <div class="datagrid" cocoring-datagrid-group>
      <cocoring-datagrid-toolbar></cocoring-datagrid-toolbar>
      <cocoring-datagrid [config]="_config"></cocoring-datagrid>
    </div> -->
    <cocoring-datagrid-toolbar></cocoring-datagrid-toolbar>
    <cocoring-datagrid [config]="_config" (eventClickRow)="eventClickRow($event)"></cocoring-datagrid>
  </div>
</div>