<div class="container-page">
  <div class="titre-page">
    Accès aux pages de démo
  </div>
  <div class="actions">
    <button id="btnGenerateDynamicForm" routerLink="/generic-form" mat-raised-button>Génération d'un formulaire
      dynamique</button>
    <button id="btnGenerateStaticForm" routerLink="/static-form" mat-raised-button>Génération d'un formulaire
      statique</button>
    <button id="btnGenerateStaticForm" routerLink="/static-inputs-chained" mat-raised-button>Formulaire statique -
      Champs chaînés</button>
    <button id="btnGenerateStaticForm" routerLink="/modal-page" mat-raised-button>Modals</button>
  </div>
</div>