<div style="text-align:center">
  <h1>
    COCORI-LIBRARY PAGE TEST
  </h1>
  <p>library home made</p>
  <img width="150"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="formulaires">
  <div class="sub-frm">
    <div class="content-frm part">
      <form id="generatedForm" [formGroup]="generatedForm" (ngSubmit)="validateFrom(generatedForm)">
        <ct-textarea [config]="configGeneratedForm" (onComponentReady)="addChild($event)"></ct-textarea>
        <button type="submit">Interpréter le contenu JSON</button>
      </form>
    </div>
    <div *ngIf="jsonParsed" class="result-frm part">
      <div id="jsonParsed" [innerHTML]="jsonParsed | prettyprint"></div>
    </div>
  </div>

  <div class="sub-frm">
    <div class="content-frm part">
      <form id="interpretedForm" [formGroup]="interpretedForm" (ngSubmit)="valeursFrom(interpretedForm)">
        <ng-template #FormContainerRef></ng-template>
        <button *ngIf="ready" type="submit">Valider Frm</button>
      </form>
    </div>
    <div class="result-frm part" *ngIf="ready">
      <div>Résultats :</div>
      <div id="resultatInterpretedForm">{{valuesInterpretedForm | json}}</div>
    </div>
  </div>
</div>