.mat-form-field {
  width: 100%;
}

.mat-calendar-body-selected {
  color: white !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: mat.get-color-from-palette($palette-green, 200);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white;
}
