::ng-deep .mat-form-field {
    width: 100%;
}

.formulaires {
    flex-wrap: wrap;

    .sub-frm {
        width: 50%;
        box-sizing: border-box;
        display: flex;
        margin: 0;

        &:nth-child(even) {
            padding-left: 10px;
        }

        &:nth-child(odd) {
            padding-right: 10px;
        }
    }
}

@media (max-width: 900px) {
.formulaires {
    .sub-frm {
        width: 100%;
        padding: 0;
    }
}
}