<div class="container-page">
  <div class="titre-page">Construction d'un formulaire statique</div>
  <div class="formulaires">
    <div class="sub-frm">
      <div class="content-frm part">
        <form id="generatedForm" [formGroup]="formulaire" (ngSubmit)="validateFrom(formulaire)">
          <div>
            <ng-template #FormContainerRef1></ng-template>
          </div>
          <div>
            <ng-template #FormContainerRef2></ng-template>
          </div>
          <div class="formContainerRef3">
            <ng-template #FormContainerRef3></ng-template>
          </div>
        </form>
      </div>
      <div *ngIf="jsonParsed" class="result-frm part">
        <div id="jsonParsed" [innerHTML]="jsonParsed | prettyprint"></div>
      </div>
    </div>
  </div>
</div>