.modal-page {
  display: flex;
  flex-direction: row;

  .actions {
    width: 50%;
    display: flex;
    flex-direction: column;

    .button {
      text-align: center;
      margin: 20px 0;
    }
  }
}