@import './../../../../../theme/mixins';

:host {
  display: block;
}

.container-list-item {
  border-left: 4px solid transparent;

  .sidenav-sublist {
    display: none;
  }

  .menu-group,
  .mat-list-item {
    font-size: 13px;
    border-bottom: 1px solid #edf1f7;

    .list-item-node {
      height: 100%;
      width: 26px;

      .arrow {
        &:before {
          @include arrow-right();
          opacity: 0.7;
          width: 0.45em;
          height: 0.45em;
          top: 1.6em;
          left: 0.6em;
        }
      }
    }

    ::ng-deep .mat-list-item-content {
      padding-left: 0;
    }
  }

  .menu-group {
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: #8f9bb3;
  }

  &.list-item-expanded {
    border-left: 4px solid #b7b7b7;

    .menu-group,
    .mat-list-item {
      .list-item-node {
        .arrow {
          &:before {
            @include arrow-down();
            opacity: 0.7;
            width: 0.45em;
            height: 0.45em;
            top: 1.6em;
            left: 0.6em;
          }
        }
      }
    }

    .sidenav-sublist {
      display: block !important;

      .list-item-expanded {
        border-left: 0;
        background-color: #ecebeb;
      }

      .mat-list-item {
        padding-left: 10px;
      }
    }
  }
}