<div class="container-list-item"
    [ngClass]="{'list-item-expanded': expanded,'list-item-selected': selected, 'isSidenavOpen': isSidenavOpen}">
    <ng-template [ngIf]="item?.menuGroup" [ngIfElse]="listItemDefaultTpl">
        <div class="menu-group">{{item.label}}</div>
    </ng-template>

    <ng-template #listItemDefaultTpl>
        <div *ngIf="!item.url" mat-list-item [routerLink]="!item.children ? item.route : null" class="mat-list-item"
            [ngClass]="{'with-sub-menu': item.children?.length}" (click)="expandItemSubList()">
            <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
            <div class="group-menu-item">
                <div [title]="item.label">{{item.label}}</div>
                <div *ngIf="item.children?.length" class="arrow"></div>
            </div>
        </div>
        <div>
            <a *ngIf="item.url" mat-list-item [href]="item.url" target="_blank">
                <div>{{item.label}}</div>
            </a>
            <div *ngIf="item.children?.length" class="sidenav-sublist"
                [@animateExpandListItem]="expanded ? 'expanded': 'collapsed'">
                <cocoring-sidenav-item *ngFor="let childItem of item.children; trackBy: trackBy" [item]="childItem">
                </cocoring-sidenav-item>
            </div>
        </div>
    </ng-template>
</div>