@use "@angular/material" as mat;
@import "cocori-ng/src/lib/assets/mixins";
@import "../../../../../theme/variables";

:host {
  display: block;
}

.container-list-item {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  .sidenav-sublist {
    display: none;
  }

  .menu-group,
  .mat-list-item {
    height: 55px;
    font-size: 13px;
    border-bottom: 1px solid #edf1f7;

    ::ng-deep .mat-list-item-content {
      padding-left: 0;
    }

    .mat-icon {
      float: left;
      margin: 0 10px;
    }

    .group-menu-item {
      width: 90%;
      padding-top: 3px;

      > div:not(.arrow) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .arrow {
      @include arrow-right();
      opacity: 0.7;
      width: 0.45em;
      height: 0.45em;
      top: -0.075em;
      left: 0.6em;

      float: right;
      margin-top: -13px;
    }
  }

  .menu-group {
    display: flex;
    flex-direction: row;
    height: 48px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    color: #8f9bb3;
  }

  &.list-item-expanded {
    .menu-group,
    .mat-list-item {
      .arrow {
        @include arrow-down();
        opacity: 0.7;
        width: 0.45em;
        height: 0.45em;
        top: -0.075em;
        left: 0.6em;
      }
    }

    .sidenav-sublist {
      display: block !important;

      .list-item-expanded {
        border-left: 0;
        background-color: #ecebeb;
      }

      .mat-list-item {
        padding-left: 23px;
      }

      .mat-icon {
        display: none;
      }
    }
  }

  /** Sidenav is closed (rail mode) */
  &:not(.isSidenavOpen) {
    &.list-item-expanded {
      .sidenav-sublist {
        .mat-list-item {
          padding-left: 0;
        }
      }
    }
    .menu-group,
    .mat-list-item {
      padding: 7px 0;
      text-align: center;

      &.with-sub-menu {
        .group-menu-item {
          width: 80%;
        }
      }

      ::ng-deep .mat-list-item-content {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        padding-right: 5px;
      }

      .mat-icon {
        float: unset;
        margin-bottom: 5px;
      }
    }
  }
}

.list-item-expanded {
  border-left: 4px solid mat.get-color-from-palette($palette-primary, lighter);
}

.list-item-selected {
  border-left: 4px solid mat.get-color-from-palette($palette-blue, main) !important;
}
