@import "cocori-ng/src/assets/mixins";

.container-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulaires {
  width: 100%;

  .sub-frm {
    display: flex;
    flex-direction: column;

    width: 50%;
    margin: 0 auto;
  }

  .part {
    border-radius: 6px;
    padding: 20px;
  }

  .content-frm {
    background-color: #fafafa;
    box-shadow: 0 4px 24px -2px rgba(143, 156, 192, 0.1);
  }

  .result-frm {
    background-color: #c4c4c4;
  }
}

/** styles dashboard */

.mat-menu-panel {
  margin-top: 10px;
}

/** / styles dashboard */

.tox {
  z-index: 99999999999;
}

/** Test Sidenav Rail */

mat-sidenav.matsidenav-layout:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 80px !important;
  overflow: hidden;

  @include for-phone-portrait {
    width: 0 !important;
  }
}

/** / Test Sidenav Rail */

/** Fullscreen viewer */

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.container {
  display: flex;
  flex-wrap: wrap;
  img {
    width: 200px;
    object-fit: cover;
    margin: 5px;
  }
}

.g-overlay {
  min-width: 320px;
}

gallery {
  font-size: 16px;
}

img {
  width: 150px;
}

.lightbox-example,
.gallerize-example {
  margin: 2em;
}
/** /Fullscreen viewer */

@include for-phone-portrait {
  .formulaires {
    width: 100%;

    .sub-frm {
      width: 100%;
    }
  }
}
