@import "cocori-ng/src/lib/assets/mixins";

:host {
  display: block;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: white;
  padding: 1.25rem !important;
  height: 74px !important;
  position: relative;
  z-index: 2;
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);

  .mat-button {
    text-transform: uppercase;
  }
}

.toolbar {
  align-items: flex-start;
  top: 0;
  left: 0;
  right: 0;
  height: 100% !important;
  z-index: 500;

  .toolbar-icon {
    display: flex;

    .burger-menu {
      cursor: pointer;
      padding-top: 5px;
      margin-right: 1.25rem;
      line-height: 1;
      width: 1em;
      height: 1em;
    }

    .barTitle {
      font-size: 1.4rem;
      white-space: pre-wrap;
      text-decoration: none;
      line-height: 35px;
      color: inherit;
    }
  }
}

.burger-menu,
.mat-icon-options {
  .mat-icon {
    font-size: 28px;

    @include for-phone-only {
      font-size: 25px;
    }
  }

  svg {
    width: 25px;
    height: 25px;
  }
}
