<ng-container [formGroup]="formGroup">
    <mat-form-field [appearance]="appearance" [ngClass]="{'mat-form-compact': styleCompact}">
        <div matPrefix>
            <input-icon [icon]="icon"></input-icon>
        </div>
        <mat-label>{{nameLabel}}</mat-label>
        <mat-select [formControlName]="nameControl">
            <mat-option value="" class="noValueOption">Aucune valeur</mat-option>
            <mat-option *ngFor="let item of (dataSource$ | async)" [value]="item.id">
                {{item[dataSourceNameProperty]}}
            </mat-option>
        </mat-select>
        <mat-error error-handler [form]="formGroup" [controlName]="nameControl"></mat-error>
    </mat-form-field>
</ng-container>